=fixed_bar_gray($has_shadow: true, $top_radius: $default-border-radius, $bottom_radius: 0)
    #fixed_bar
        +base_fixed_bar_styles($has_shadow, $top_radius, $bottom_radius)
        
        // Style
        background-color: #c3c3c3
        border-bottom: 1px solid $dark_line
        +box-shadow(rgba(255,255,255,0.6) 0 1px 0 0 inset)
        
        // Use inset buttons
        +inset_buttons
        
        h1
            color: $fixed_text
            +text-shadow($arrow_shadow 0 1px 0)
            font-size: 16px
            text-align: center
            line-height: $header_height
        
        form input
            +border-radius($interior_border_radius)
            background-color: white
            
            border: 1px solid
            border-color: $gray5 $gray4 $gray2
