+webfont('Icons', 'icons-webfont', 'IconFontRegular')

@mixin icon_font
    font-family: 'Icons', sans-serif
    -webkit-font-smoothing: antialiased
    
    font-size: 19px
    line-height: 10px
    font-weight: normal !important
    font-style: normal !important

.icon
    &:before
        +icon_font
    
    &.back_arrow:before
        content: "<"
    &.plus:before
        content: "+"
    &.check:before
        content: "v"
    &.info:before
        content: "i"
    &.error:before
        content: "!"
    &.down:before
        content: "6"
    &.settings:before
        content: "G"
    &.arrow:before
        content: "a"
    &.settings:before
        content: "G"
    &.calendar:before
        content: "W"
    &.list:before
        content: "Q"
    &.thumbs_up:before
        content: "R"