// Sizes

$header_height: 42px
$list_item: 40px
$margin: 5px

// Color

$background: #f1f2ec

$dark_text: #252525
$light_text: #7a7a7a

$hover: #ededed

$light_line: #9c9e9f

$gray1: #f8f8f8
$gray2: #eeeeee
$gray3: #dddddd
$gray4: #adb1b4
$gray5: #515151
$gray6: #222424

$green: #b0e96c
$yellow: #fffac7
$blue: #0a85b2
$red: #dd4646