=webfont($name, $filename-base, $weight: 400, $style: normal)
  +font-face($name, inline-font-files('#{$filename-base}.woff', woff, '#{$filename-base}.ttf', truetype), '#{$filename-base}.eot', $weight, $style)

=single_line
  display: block
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

=multi_line
  white-space: normal

=hide-text
  font: #{0/0} a
  color: transparent
  text-shadow: none
  background-color: transparent
  border: 0