// ** Grid and Metrics **
// ----------------------

// Bookends uses a 16px grid by default

$grid: 16px !default

// Typography

// by default we use system fonts
$font_family_sans_serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default
$font_family_serif:      Georgia, "Times New Roman", Times, serif !default
$font_family_monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default

// Values for body type [ http://www.gridlover.net/app/ ] 16/1.5/1.618

$body_font:       1rem !default
$line_height:     1.5rem !default

$h1:              2.5rem !default
$h2:              1.625rem !default
$h3:              1.125 !default

$small_font:      0.875rem !default
$caption_font:    0.75rem !default

// Border Radius
$radius:          $grid / 4
$inner_radius:    $radius / 2

// Default Colors

$primary: #368242

// Gray

$text_color:       #303630
$ui_text_color:    #545954
$light_text_color: #6e776e
$placeholder:      #cdd4d6

$gray:                #494f50
$light_gray:          #878d8f
$selected_background: #ebeef0
$background:          #fafafa
$stroke:              #bcc6c8
$light_stroke:        #dce3e4

// Media queries breakpoints

$tablet_min: 768px     !default
$desktop_min: 992px    !default
$desktop_large: 1200px !default

// Transitions

$bounce: cubic-bezier(0.295, 0.465, 0.190, 1.060)
