body.narrow
    position: relative

@media (orientation:portrait)
    body.narrow
        &.iphone
            height: 416px
            
            &.installed
                height: 460px

@media (orientation:landscape)
    body.narrow
        &.iphone
            height: 268px