@media (orientation:portrait)
    body.narrow
        &.ios
            height: 416px
            
            &.installed
                height: 460px

@media (orientation:landscape)
    body.narrow
        &.ios
            height: 268px