$form_padding: 5px

form
    padding: $form_padding
    
    .input_wrap
        position: relative
        display: block
        min-height: 40px
        overflow: hidden
        
        &.first
            border-top: 1px solid $gray4
            +border-top-radius(3px)
            
        &.last
            margin-bottom: $form_padding
            +border-bottom-radius(3px)
            
            + .first
                margin-top: $form_padding * 2
        
        &.show_error
            background-color: lighten($red, 30%)
            .error_mark
                display: none
        
        border-left: 1px solid $gray4
        border-right: 1px solid $gray4
        border-bottom: 1px solid $gray4
        
        label
            float: left
            +box-sizing(border-box)
            +inline-block
            width: 33%
            
            line-height: 30px
            
            +regular
            font-size: 14px
            padding: $form_padding
        
        .note
            +bold
            font-size: 13px
            color: $blue
            padding: $form_padding
            text-align: right
        
        input, textarea
            -webkit-appearance: none
            outline: 0
            +box-sizing(border-box)
            
            width: 66%
            height: 40px
            
            padding: 0 $form_padding*2
            margin: 0
            
            background-color: transparent
            border: none
            
            +regular
            font-size: 14px
        textarea
            line-height: 20px
            resize: none
            padding-top: $form_padding*2
            padding-bottom: $form_padding*2
        select
            font-size: 14px
            border: 1px solid $gray4
            height: 30px
            margin-top: $form_padding
        
    input[type="submit"]
        -webkit-appearance: none
        +border-radius(3px)
        +linear-gradient(color-stops($green, darken($green, 20%)), top)
        border: 1px solid $gray4
        cursor: pointer
        
        color: $gray5
        font-size: 14px
        +text-shadow(#fff, 0, 1px, 1px)
        
        outline: 0
        padding: 5px 10px 6px
        width: 100%
        
        margin: 0
        
        &:active
            +linear-gradient(color-stops($green, darken($green, 20%)), bottom)