form
    padding: 5px
    
    .input_wrap
        display: block
        height: 40px
        
        &.first
            border-top: 1px solid $gray4
            +border-top-radius(3px)
            
        &.last
            margin-bottom: 5px
            +border-bottom-radius(3px)
            
            + .first
                margin-top: 10px
        
        &.show_error
            background-color: lighten($red, 30%)
            .error_mark
                display: none
        
        border-left: 1px solid $gray4
        border-right: 1px solid $gray4
        border-bottom: 1px solid $gray4
        
        label
            float: left
            +box-sizing(border-box)
            +inline-block
            width: 33%
            
            line-height: 30px
            
            +regular
            font-size: 14px
            padding: 5px
        input
            -webkit-appearance: none
            outline: 0
            +box-sizing(border-box)
            
            width: 66%
            height: 40px
            
            padding: 0 10px
            margin: 0
            
            background-color: transparent
            border: none
            
            +regular
            font-size: 14px
        select
            font-size: 14px
            border: 1px solid $gray4
            height: 30px
            margin-top: 5px
        
    input[type="submit"]
        -webkit-appearance: none
        +border-radius(3px)
        +linear-gradient(color-stops($green, darken($green, 20%)), top)
        border: 1px solid $gray4
        cursor: pointer
        
        color: $gray5
        font-size: 14px
        +text-shadow(#fff, 0, 1px, 1px)
        
        outline: 0
        padding: 5px 10px 6px
        width: 100%
        
        margin: 0
        
        &:active
            +linear-gradient(color-stops($green, darken($green, 20%)), bottom)