// A basic media query mixin that makes responsive work simple.

$phone_wide:    544px
$tablet_min:    768px
$desktop_min:   992px
$desktop_large: 1200px

$phone_max:     $tablet_min - 1
$tablet_max:    $desktop_min - 1
$desktop_max:   $desktop_large - 1

=phone_only
  @media only screen and (max-width: $phone_max)
    @content

=tablet_plus
  @media only screen and (min-width: $tablet_min)
    @content

=tablet_only
  @media only screen and (min-width: $tablet_min) and (max-width: $tablet_max)
    @content

=mobile_only
  @media only screen and (max-width: $tablet_max)
    @content

=desktop_only
  @media only screen and (min-width: $desktop_min)
    @content

=desktop_small
  @media only screen and (min-width: $desktop_min) and (max-width: $desktop_max)
    @content

=desktop_large
  @media only screen and (min-width: $desktop_large)
    @content
