// show an ellipsis if text is wider than its container
=single_line
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

// quick helper to grab all body text elements
=text_elements
  h1, h2, h3, h4, h5, p, pre, code
    @content
