=black
    font:
        family: "Proxima Nova", "proxima-nova", HelveticaNeue-Bold, "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif
        weight: 900
=extra_bold
    font:
        family: "Proxima Nova", "proxima-nova", HelveticaNeue-Bold, "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif
        weight: 800
=bold
    font:
        family: "Proxima Nova", "proxima-nova", HelveticaNeue-Bold, "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif
        weight: 700

=semi_bold
    font:
        family: "Proxima Nova", "proxima-nova", HelveticaNeue-Bold, "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif
        weight: 600

=bold_sc
    font:
        family: "proxima-nova-sc-osf", HelveticaNeue-Bold, "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif
        weight: 600

=regular
    font:
        family: "Proxima Nova", "proxima-nova", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
        weight: 400

=light
    +antialiased

    font:
        family: "Proxima Nova", "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif
        weight: 300

=ultralight
    font:
        family: "Proxima Nova", "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif
        weight: 100

    letter-spacing: 1px

=italic
    font:
        family: Georgia, serif
        style: italic
