// Sizes

$header_height: 42px
$list_item: 40px
$margin: 5px

// Color

$background: #f1f2ec

$dark_text: #252525
$light_text: #7a7a7a

$hover: #ededed

$light_line: #9c9e9f

$green: #b0e96c
$yellow: #fffac7
$blue: #0a85b2
$red: #dd4646

// text shadow

@mixin white_text_shadow
    +text-shadow(#fff, 0, 1px, 0px)

@mixin gray_text_shadow
    +text-shadow(rgba(0,0,0,0.2), 0, -1px, 0px)