#bottom_card
    position: absolute
    
    top: 0
    right: 0
    left: 0
    bottom: $header_height
    z-index: 2000
    
    +translate(0, 100%)
    -webkit-transform: translate3d(0, 100%, 0)
    
    background-color: white