// Global button styles

$dark_blue: darken($light_blue, 15%) !default
$vertical_padding: 8px !default
$horizontal_padding: 10px !default

// Unique Button Styles

@import buttons/reset

@import buttons/inset
@import buttons/slab
@import buttons/flat
@import buttons/floating

=buttons
    .button, input[type="submit"]
        // Default Local Variables
        $background_dark: $dark_blue
        $background_light: $light_blue
        $text_color: white
        $text_shadow: $blue
        $top_offset: -1px
        
        // Other Colors
        &.neutral
            $background_dark: $gray4
            $background_light: $gray3
            $text_color: $gray5
            $text_shadow: white
            $top_offset: 0
        
        &.negative
            $background_dark: $dark_red
            $background_light: $red
            $text_color: white
            $text_shadow: black
            $top_offset: 0
        
        +box-sizing(border-box)
        +inline-block
        +border-radius($interior_border_radius)
        +transition(background-position, 0.1s, ease-in-out)
        
        position: relative
        
        cursor: pointer
        
        // Normal Sizing
        
        +bold
        font-size: 12px
        line-height: 12px
        +antialiased
        
        text-align: center
        
        color: white
        +text-shadow($text_shadow 0 -1px)
        
        height: $button
        
        padding: $vertical_padding $horizontal_padding
        
        .icon
            float: left
            padding-right: $horizontal_padding
        
        & + &
            margin-left: $button_margin
        
        // Border
        border: 1px solid rgba(0,0,0,0.3)
        
        // Background
        background:
            color: $background_dark
            repeat: repeat-x
            position: 0 $top_offset
        +background-image(linear-gradient(top, $background_light, $background_dark))
        
        // Special Buttons
        &.back
            .icon
                +icon_font
                
                margin-top: -1px
                
                &:before
                    content: "<"
        
        // Extend Touch and Click Area
        &:before
            $touch_margin: -$button_margin - 1px
            
            content: " "
            display: block
            position: absolute
            top: $touch_margin
            right: $touch_margin
            bottom: $touch_margin
            left: $touch_margin
        
        .mouse &:hover
            background-position: 0 -10px
        .mouse &:active, .active
            top: 1px
    
    // Help Firefox not be a jerk about adding extra padding to buttons
    button.button,
    input[type=submit].button
        &::-moz-focus-inner
            padding: 0
            border: 0