//  Chooser Syntax
//      
//      <div class="chooser">
//          <a href="#" class="selected">Text or Icon</a>
//          <a herf="#">Text of Icon</a>
//      </div>

=chooser($style: gray)
    .chooser
        +inline-block
        +box-sizing(border-box)
        
        position: relative
        
        @if $style == gray
            @import chooser/gray
        
        height: $button
        margin: $button-margin
        
        a
            +box-sizing(border-box)
            display: block
            position: relative
            float: left
            
            height: $button
            padding: 7px 10px
            
            // Extend Touch and Click Area
            &:before
                $touch_margin: -$button_margin - 1px

                content: " "
                display: block
                position: absolute
                top: $touch_margin
                right: $touch_margin
                bottom: $touch_margin
                left: $touch_margin
            
            // text
            +bold
            font-size: 14px
            +antialiased
            
            text-align: center
            
            &.selected
                cursor: default
                
                margin: -1px
        
        // when full width, use box
        .full_width &
            +display-box
            +box-orient(horizontal)
            +box-align(stretch)
            
            width: 100%
            
            a
                float: none
                +box-flex(1)