=base_fixed_bar_styles($height: $header_height, $has_shadow: true, $top_radius: $default-border-radius, $bottom_radius: 0)
    position: relative
    +box-sizing(border-box)
    
    @if $has_shadow
        +item_shadow
    
    height: $height
    
    & + *
        top: $height
    
    // we assume a form within a fixed bar should have special styles.
    form
        padding: 0
        
        .input_wrap
            border: none
            
            label
                display: none
            input
                width: 100%
                height: 32px

// import themes

@import fixed_bar/gray