@import reset

=inputs
    textarea,
    select,
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"]
        @content

=forms($label_position: left, $input_radius: 3px, $form_padding: 5px, $input_v_padding: 4px, $input_h_padding: 5px, $font_size: 18px, $label_width: 140px, $color: $dark_text, $placeholder_color: $light_text, $input_height: 40px, $input_width: 150px, $border: 1px solid black, $background: white)
    form
        +reset($label_position, $input_radius, $form_padding, $input_v_padding, $input_h_padding, $font_size, $label_width, $color, $placeholder_color, $input_height, $input_width, $border, $background)
        
        .form_wrap
            +border_box
        
        padding: $form_padding
        
        .input_wrap
            + .input_wrap
                margin-top: $margin
            
            .html_wrap
                // used to wrap html used inside of a form
                +inline-block
            
            label
                width: $label_width
                
                color: $color
                font-size: $font_size
                line-height: $input_height
                
                @if $label_position == left
                    +inline_block
                @if $label_position == top
                    display: block
                