+webfont('Bookends', 'bookends/bookends-regular-webfont', 'Bookends Regular')

=icon_font
    +inline-block

    font:
        family: 'Bookends', sans-serif
        size: 32px
        weight: normal
        style: normal

    -webkit-font-smoothing: antialiased

    line-height: 1
    text-decoration: none

%icon_x
    content: "\f002"

.icon
    &:before
        +icon_font

    &.icon_plus:before
        content: "\f001"
    &.icon_x:before
        @extend %icon_x
    &.icon_check:before
        content: "\f003"

    &.icon_form_close:before
        content: "\f050"
