+webfont('Bookends', 'bookends/bookends-regular-webfont', 'Bookends Regular')

.icon
    text-align: center
    &:before
        +inline-block

        font:
            size: 32px
            weight: normal
            style: normal

        -webkit-font-smoothing: antialiased

        line-height: 1
        text-decoration: none

        vertical-align: top

%icon_x
    content: "\f002"

.bookends
    &:before
        font-family: 'Bookends', sans-serif

    &.test:before
        content: "\f000"

    &.plus:before
        content: "\f001"
    &.x:before
        @extend %icon_x
    &.check:before
        content: "\f003"

    &.clear_form:before
        content: "\f050"
