=webfont($name, $filename-base, $svg-name)
    @font-face
        /* This declaration targets everything else */
        font-family: $name
        src: font-url('fonts/#{$filename-base}.eot?#iefix') format('embedded-opentype'), font-url('fonts/#{$filename-base}.woff') format('woff'), font-url('fonts/#{$filename-base}.ttf') format('truetype'), font-url('fonts/#{$filename-base}.svg##{$svg-name}') format('svg')
        font-weight: normal
        font-style: normal

=image($image, $image2x: none, $size: true)
    @if $size
        display: inline-block
        width: image-width($image)
        padding-top: image-height($image)
        overflow: hidden
        height: 0
    background:
        image: image-url($image)
        repeat: no-repeat

    @if $image2x
        @media (-webkit-min-device-pixel-ratio: 2)
            background-image: image-url($image2x)
            +background-size(image-width($image), image-height($image))

=icon($image: none)
    @if $image == none
        // icon font declaration
    @else
        +image($image)

=hide_text
    text-indent: -5000px
    white-space: nowrap
    overflow: hidden

    a
        outline: none

=text_stroke($stroke-width, $stroke-color, $text-color: black, $fill-fallback: $text-color)
    color: $text-color
    -webkit-text-fill-color: $fill-fallback // Will override color (regardless of order)
    -webkit-text-stroke-width: $stroke-width
    -webkit-text-stroke-color: $stroke-color

=before($offset: none, $top: none, $right: none, $bottom: none, $left: none)
    &:before
        position: absolute

        @if $top != none
            top: $top
        @else if $offset != none
            top: $offset
        @if $right != none
            right: $right
        @else if $offset != none
            right: $offset
        @if $bottom != none
            bottom: $bottom
        @else if $offset != none
            bottom: $offset
        @if $left != none
            left: $left
        @else if $offset != none
            left: $offset
        content: " "

        @content

=extra_border($size, $type, $color, $radius: 0, $offset: 0)
    position: relative

    +before($offset: $offset)
        +border-radius($radius)
        border: $size $type $color

=item_shadow
    position: relative

    +before($offset: $offset)
        z-index: 20

        pointer-events: none
        +shadow

=white_text_shadow
    +text-shadow(#fff, 0, 1px, 0px)

=gray_text_shadow
    +text-shadow(rgba(0,0,0,0.2), 0, -1px, 0px)

=antialiased
    -webkit-font-smoothing: antialiased

=border_box


=single_line
    display: block
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

=multi_line
    white-space: normal
