// Reset the box-sizing

*, *:before, *:after
  +box-sizing(border-box)

// Body reset

html
  -webkit-tap-highlight-color: transparent
  -webkit-font-smoothing: antialiased

  &.desktop, &.ios
    text-rendering: optimizeLegibility

    // Not currently enabled on android
    // http://www.marco.org/2012/11/15/text-rendering-optimize-legibility

body
  font-family: $font_family
  font-size: $font_size

  line-height: $line_height
  color: $text_color
  background-color: $body_background_color

// Reset fonts for relevant elements

input,
button,
select,
textarea
  font-family: inherit
  font-size: inherit
  line-height: inherit

// Images

img
  vertical-align: middle

// Perfect circle

.circle
  border-radius: 50%
