h1, h2, h3, %heading_spacing
  margin-top: $type_spacing_top
  margin-bottom: $type_spacing_bottom

.ord
  font-size: 80%
  vertical-align: 10%

p
  +body

p + p
  margin-top: $type_spacing_top

h3
  +section_head

ul
  +body
  padding-left: $content_inset*2

  li + li
    padding-top: $object_spacing

hr
  border-top: 1px solid black
  border-bottom: 1px solid white

small, .small
  +caption