// Typography

$font_family: "Helvetica Neue", Helvetica, Arial, sans-serif !default

// Weights

$thin_weight:     100 !default
$light_weight:    300 !default
$regular_weight:  400 !default
$medium_weight:   500 !default
$bold_weight:     700 !default
$black_weight:    900 !default

// Values for body type [ http://www.gridlover.net/app/ ]

$font_size:          18px !default
$line_height:        26px !default

$h1:                 51px !default
$h2:                 36px !default
$h3:                 25px !default
$h4:                 18px !default

$paragraph_width:    620px !default

// Values for UI type

$title_size: 20px !default
$small_font: 16px !default


// Metrics

$base_unit:       4px !default
$object_spacing:  $base_unit*2 !default
$content_inset:   $base_unit*4 !default

$min_touch_size:  48px !default

$header_height_mobile:  $min_touch_size !default
$header_height_desktop: 64px !default


// Colors

$white:           #ffffff !default
$black:           #000000 !default

$primary:         #3439C5 !default
$primary_dark:    #282C99 !default
$primary_light:   #595AD3 !default

$secondary:       #DD3620 !default
$secondary_dark:  #A32624 !default
$secondary_light: #FDA986 !default

// Gray

$gray:            #494F50 !default
$light_gray:      #878D8F !default
$background:      #FAFAFA !default
$stroke:          #BCC6C8 !default
$placeholder:     #CDD4D6 !default

// Defaults

$text_color:            #4d4d4d     !default
$text_color_light:      $light_gray !default
$body_background_color: $white      !default


// Media queries breakpoints

$tablet_min: 768px     !default
$desktop_min: 992px    !default
$desktop_large: 1200px !default

// fix for overflow and rounded corners with overflow
%rounded_corner_fix
  // make sure rounded corners on $parent clip the loading div.
  // http://stackoverflow.com/questions/5736503/how-to-make-css3-rounded-corners-hide-overflow-in-chrome-opera

  overflow: hidden

  // be careful of this on elements with touch scrolling
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC)
