=slab_colors($background_color: $light_blue, $border_color: $blue, $height: 3px)
    background-color: $background_color

    border-color: $blue lighten($blue, 10%)
    +box-shadow(rgba(255,255,255,0.3) 0 1px inset, rgba(255,255,255,0.1) 0 0 0 1px inset, $blue 0 1px, lighten($blue, 15%) 0 $height, lighten($blue, 2%) 0 $height + 1px, rgba(0, 0, 0, 0.4) 0 $height + 2px 2px )

    background:
        image: none !important
        color: $background_color

    &:hover
        background-color: lighten($background_color, 5%)

    &:hover:active, &:hover.selected
        background-color: $background_color

=slab_buttons($height: 3px)
    .button, input[type="submit"]
        +box-sizing(content-box)
        height: $button - $vertical_padding * 2
        top: -$height - 1px
        margin-bottom: $height + 1px
        padding-bottom: $vertical_padding - 1px

        +border-radius(3px)
        border:
            width: 1px 1px 0px
            style: solid

        +slab_colors($height: $height)

        &.gray
            +slab_colors($light_gray, $dark_gray, $height: $height)
            color: $dark_text

        &.negative
            +slab_colors($red, $dark_red, $height: $height)

        &:active, &.selected
            top: 0
            padding: $vertical_padding $horizontal_padding + 1px
            margin-bottom: $height + 1px
            border-width: 0

            +box-shadow(rgba(0, 0, 0, 0.3) 0 0 $height inset, rgba(0, 0, 0, 0.5) 0 1px 1px inset, rgba(255,255,255,0.35) 0 1px)

        &.selected
            cursor: default

        @content
